<header>
    <h1>Atelier Tests (KENORE Ahmed) : Matthieu NOEL, Cyril FURNON, Thomas Christophe.</h1>
</header>

<section>
    <h2>Génération de la base de données SQLite et de sa table client</h2>
    <form id="form1">
        <button onclick="alert('Generate db')">
                Générer
            </button>
    </form>
</section>
<section>
    <h2>Importer un fichier client dans la base de données SQLite</h2>
    <form id="form2">
        <!-- <input type="file" id="form2File" name="File"> -->
        <label for="Path">Chemin du fichier : </label>
        <input type="text" name="Path" id="form2Path" value="./client.txt">
        <input type="button" id="form2button1" value="Importer le fichier" onclick="StartInsertDataProcess()">
    </form>
</section>